body {
    padding-top: 45px;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fffffff5;
    height: 60px;
    z-index: 10;
}


.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 20px;
    margin-left: 50px;
    margin-right: 78px;
    position: relative;
}

.navbar .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
}

.company {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.2ch;
}


.navbar .nav-links a {
    text-decoration: none;
    color: #2a2828;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
    transition: color 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: color 0.3s ease, transform 0.3s ease;
    transition: color 0.3s ease, transform 0.3s ease;
    transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #584b39;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.burgermenu {
    width: 40px;
    height: 35px;
    display: none;
}


.index {
    text-decoration: none;
    color: black;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
    opacity: 0.7;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.hero-text p {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.about-section {
    margin-top: 80px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.cover {
    width: 100%;
    height: 600px;
    background-image: url('../images/gg_cover.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover-text {
    font-weight: 700;
    position: absolute;
    top: 55%;
    left: 15%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 54px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
}

.superstar {
    font-weight: 700;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5%;
    margin-left: 3%;
}

.categories {
    font-size: 48px;
    font-weight: 700;
    margin-left: 10%;
    margin-top: 60px;
}

.new-items {
    margin-top: 100px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.productsall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    background-color: #fff;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.productphoto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.txt {
    margin-top: 15px;
}

.description {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.price {
    font-size: 16px;
    color: #584b39;
    margin-top: 10px;
}


.productsall2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 3%;
    gap: 40px;
    margin-left: 30px;
}

.albumstext {
    margin-top: 5%;
    font-size: 40px;
    font-weight: 700;
    margin-left: 5%;
}

.albumdiscription {
    color: #222222;
    font-size: 20px;
    font-weight: 400;
    max-width: 250px;
}

.footer {
    text-align: center;
    padding: 60px;
    background-color: #222;
    color: #fff;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.footer .social-icons a:hover {
    color: #ffd700; 
}

.footer .logo {
    margin-top: 15px;
}

.footer .logo img {
    transition: transform 0.3s ease;
}

.footer .logo img:hover {
    transform: scale(1.1);
}



.txt {
    margin-right: 0%;
    max-width: 300px;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 10vh;
    margin-top: 2%;
}

.button {
    background-color: #000000;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 16px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.button:hover {
    background-color: #4b4848;
    transform: scale(1.05);
}

@media (max-width: 1080px) {
    .navbar {
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar .nav-links {
        gap: 20px;
    }

    .cover-text {
        top: 45%;
        font-size: 40px;
        left: 40%;
    }

    .products {
        margin-top: 2%;
    }

    .product {
        margin: 0 10px;
        width: 300px;
    }

    .box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 30px;
    }

    .frankpic {
        max-width: 100%;
        margin-left: 0;
    }

    .text {
        margin-left: 0;
    }

    .cover2,
    .cover3 {
        height: 400px;
    }

    .cover {
        height: 500px;
    }

    .burgermenu {
        display: inline-block;
    }

    .navbar .nav-links a {
        display: none;
    }

    .company {
        font-size: 17px;
    }
}

@media (max-width: 768px) {


    .superstar {
        font-size: 35px;
        margin-left: 0;
    }

    .productsall,
    .productsall2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .product {
        width: 280px;
    }

    .album,
    .album1 {
        width: 100%;
        height: auto;
    }

    .albumstext {
        font-size: 30px;
        margin-left: 0;
    }

    .discription {
        font-size: 18px;
    }

    .button {
        padding: 14px 12px;
        font-size: 14px;
    }

    .hero-image {
        height: 80%;
    }

    .hero-text h1 {
        font-size: 38px;
        font-weight: 700;
    }

    .hero-text p {
        font-size: 14px;
        font-weight: 500;
    }

    .superstar {
        margin-top: 2%;
    }
}

@media (max-width: 480px) {
    .superstar {
        font-size: 30px;
        margin-left: 0;
    }

    .categories {
        font-size: 36px;
    }

    .product {
        width: 240px;
    }

    .album {
        width: 100%;
        height: auto;
    }

    .album1 {
        width: 100%;
        height: auto;
    }

    .button {
        padding: 12px 10px;
        font-size: 12px;
    }

    .footer {
        height: 40%;
    }

    .hero-image {
        height: 70%;
    }

    .hero-text h1 {
        font-size: 20px;
        font-weight: 700;
    }

    .hero-text p {
        font-size: 10px;
        font-weight: 500;
    }

    .discription {
        max-width: 220px;
    }

    .hero-text {
        top: 35%;
        left: 50%;
        background-color: #2a282851;
        
    }

    .superstar {
        margin-bottom: 15%;
    }

}

