body {
    padding-top: 45px;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fffffff5;
    height: 60px;
    z-index: 10;
}


.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 20px;
    margin-left: 50px;
    margin-right: 78px;
    position: relative;
}

.navbar .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
}

.company {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.2ch;
}


.navbar .nav-links a {
    text-decoration: none;
    color: #2a2828;
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
    transition: color 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: color 0.3s ease, transform 0.3s ease;
    transition: color 0.3s ease, transform 0.3s ease;
    transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #584b39;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.burgermenu {
    width: 40px;
    height: 35px;
    display: none;
}


.index {
    text-decoration: none;
    color: black;
}

.cover {
    width: 100%;
    height: 600px;
    background-image: url('../images/gg_cover.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover-text {
    font-weight: 700;
    position: absolute;
    top: 55%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 54px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5%;
}

.productphoto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.discription {
    color: #222222;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-left: 12px;
    margin-top: 5px;
    max-width: 250px;
}

.album {
    width: 260px;
    height: 330px;
}

.productsall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 3%;
    gap: 17px;
    margin-left: 30px;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
}

.frankpic {
    max-width: 780px;
    width: 100%;
    margin-left: 9.5%;
}

.guitar {
    font-size: 48px;
    font-weight: 800;
}

.facts {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.text {
    text-align: center;
    margin-left: 100px;
}

.cover2 {
    margin-top: 5%;
    width: 100%;
    height: 600px;
    background-image: url('../images/cover2.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover3 {
    margin-top: 5%;
    width: 100%;
    height: 600px;
    background-image: url('../images/gg_people.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer {
    text-align: center;
    padding: 60px;
    background-color: #222;
    color: #fff;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.footer .social-icons a:hover {
    color: #ffd700;
}

.footer .logo {
    margin-top: 15px;
}

.footer .logo img {
    transition: transform 0.3s ease;
}

.footer .logo img:hover {
    transform: scale(1.1);
}



@media (max-width: 1080px) {
    .navbar {
        margin-left: 20px;
        margin-right: 20px;
    }

    .navbar .nav-links {
        gap: 20px;
    }

    .cover-text {
        top: 45%;
        font-size: 40px;
        left: 40%;
        margin-right: 5%;
    }

    .products {
        margin-top: 2%;
    }

    .product {
        margin: 0 10px;
    }

    .box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 30px;
    }

    .frankpic {
        max-width: 100%;
        margin-left: 0;
    }

    .text {
        margin-left: 0;
    }

    .cover2,
    .cover3 {
        height: 400px;
    }

    .cover {
        height: 500px;
    }

    .burgermenu {
        display: inline-block;
    }

    .navbar .nav-links a {
        display: none;
    }
}

@media (max-width: 768px) {
    .company {
        font-size: 18px;
    }

    .navbar .nav-links a {
        font-size: 15px;
    }

    .cover-text {
        font-size: 32px;
        left: 35%;
        top: 35%;
        margin-right: 5%;
    }

    .productsall {
        gap: 10px;
    }

    .album {
        width: 220px;
        height: 290px;
    }

    .discription {
        font-size: 16px;
        max-width: 200px;
    }

    .text {
        margin-left: 0;
        font-size: 16px;
    }

    .box {
        margin-top: 30px;
    }

    .cover {
        height: 400px;
    }

    .frankpic {
        margin-left: 20%;
    }

    .guitar {
        margin-left: 45%;
    }

    .facts {
        margin-left: 50%;
    }
}

@media (max-width: 485px) {
    .navbar .nav-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .navbar .nav-links a {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .cover-text {
        font-size: 28px;
        left: 33%;
        top: 25%;
    }

    .products {
        margin-top: 2%;
    }

    .box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .guitar {
        margin-left: 15%;
    }

    .frankpic {
        max-width: 100%;
        margin-left: 15%;
    }

    .facts {
        margin-left: 15%;
    }

    .cover,
    .cover2,
    .cover3 {
        height: 300px;
    }

    .text {
        font-size: 14px;
    }

    .cover-text {
        margin-left: 5%;
    }
}